.notepad-dlg-search {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 10;
}

.notepad-dlg-search .dialogbox {
  border: 1px solid #0f7fdb;
  box-shadow: 10px 10px 10px #d6d6d6;
  box-sizing: border-box;
  cursor: default;
  height: 194px;
  width: 533px;
  margin: 0 auto;
  top: 100px;
  position: relative;
  user-select: none;
}

.notepad-dlg-titlebar{
  background-color: white;
  color: #999999;
  height: 40px;
}

.notepad-dlg-search .title{
  left: 10px;
  line-height: 40px;
  position: absolute;
  margin: 0;
}

.notepad-dlg-search .close-btn{
  color: gray;
  line-height: 40px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 30px;
}

.notepad-dlg-search .main {
  background-color: #f0f0f0;
  box-sizing: border-box;
  height: 152px;
  padding: 6px;
  position: relative;
}

.notepad-dlg-search .main .txt-content {
  box-sizing: border-box;
  height: 30px;
  margin: 15px 10px;
  width: 288px;
}

.notepad-dlg-search .main .btn-search {
  width: 100px;
  height: 30px;
  position: absolute;
  right: 8px;
  top: 15px;
}

.notepad-dlg-search .main .btn-cancel {
  width: 100px;
  height: 30px;
  bottom: 63px;
  position: absolute;
  right: 8px;
}

.notepad-dlg-search .main .search-direction {
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
  left: 172px;
  padding: 10px 5px;
  position: absolute;
  bottom: 22px;
  width: 176px; 
  height: 58px;

}

.notepad-dlg-search .main input[value="down"] {
  margin-left: 5px;
}

.notepad-dlg-search .main input[value="capital-sense"] {
  margin-top: 30px;
}
